<a href="https://colab.research.google.com/github/kartikeyahl/MS_analysis/blob/main/PunchTimeAnalysis14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
import math

In [2]:
# Importing the excel
!unzip punch_short.xlsx
dataset = pd.read_excel('punch_short.xlsx',parse_dates=['Date'],
    date_parser=lambda x: pd.to_datetime(x, format='%Y%m%d'))
dataset2=pd.read_excel('Master Data.xlsx')
dataset3=pd.read_excel('Shift_Timings.xlsx')

Archive:  punch_short.xlsx
replace [Content_Types].xml? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: [Content_Types].xml
  inflating: _rels/.rels
  inflating: xl/workbook.xml
  inflating: xl/_rels/workbook.xml.rels
  inflating: xl/worksheets/sheet1.xml
  inflating: xl/theme/theme1.xml
  inflating: xl/styles.xml
  inflating: xl/sharedStrings.xml
  inflating: xl/externalLinks/externalLink1.xml
  inflating: xl/calcChain.xml
  inflating: docProps/core.xml
  inflating: docProps/app.xml
  inflating: xl/externalLinks/_rels/externalLink1.xml.rels

In [3]:
#Renaming column name to a valid column name format as per python
dataset.rename(columns={'IN/OUT': 'IN_OUT'}, inplace=True)

In [4]:
#Droping rows that conatain 1 in 'IN_OUT' column
dataset=dataset[dataset.IN_OUT!=1]

In [5]:
#Converting Date column values into year-month-day format
# j,k=0,0
# for i in dataset.iloc[:,3]:
#   dataset.Date[j]=datetime.strptime(str(i),'%Y%m%d').date()
#   j+=1

dataset['Date'] = pd.to_datetime(dataset['Date'], errors='coerce')
# dataset3['date'] = pd.to_datetime(dataset3['date'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [6]:
a1=str(dataset.iloc[0]['Date'])
a2=str(dataset.iloc[-1]['Date'])
d1 = datetime.strptime(a1[0:10], "%Y-%m-%d")
d2 = datetime.strptime(a2[0:10], "%Y-%m-%d")
date_diff = abs((d2 - d1).days)+1

In [7]:
#Calculating and appending Punch time difference for each employee with the corresponding E.Code into dataframe (l)
l_shift=[]
for i in range(len(dataset3)):
  x_=str(dataset3.iloc[i]['Start'])
  y_=str(dataset3.iloc[i]['End'])

  if len(x_)<=5:
    x_=x_.zfill(6)
  if len(y_)<=5:
    y_=y_.zfill(6)

  x_ = datetime.strptime(x_, "%H%M%S")
  x_.strftime("%I:%M %p")
  y_ = datetime.strptime(y_, "%H%M%S")
  y_.strftime("%I:%M %p")

  presentday = pd.to_datetime('20221001', errors='coerce')
  tomorrow = pd.to_datetime('20221002', errors='coerce')
  if dataset3.iloc[i]['End date']=='same':
    l_shift.append([datetime.combine(presentday, y_.time()) - datetime.combine(presentday, x_.time())])
  else:
    l_shift.append([datetime.combine(tomorrow, y_.time()) - datetime.combine(presentday, x_.time())])

In [8]:
#Calculating and appending Punch time difference for each employee with the corresponding E.Code into dataframe (l)
l=[]
for i in range(len(dataset)-1):
  j=i+1
  x=str(dataset.iloc[i]['Time'])
  y=str(dataset.iloc[j]['Time'])

  if len(x)<=5:
    x=x.zfill(6)
  if len(y)<=5:
    y=y.zfill(6)

  x = datetime.strptime(x, "%H%M%S")
  x.strftime("%I:%M %p")
  y = datetime.strptime(y, "%H%M%S")
  y.strftime("%I:%M %p")

  l.append([dataset.iloc[i]['E.Code'], dataset.iloc[i]['Date'].date(), dataset.iloc[i]['IN_OUT'], int(dataset.iloc[i]['Time']), datetime.combine(dataset.iloc[j]['Date'], y.time()) - datetime.combine(dataset.iloc[i]['Date'], x.time())])  
  i=i+2

In [9]:
#Replacing ":" with "." and getting upto 2 decimal places in Time to make mathematical operations feasible on i
for i in range(len(l)):
  l[i][4] = l[i][4].__str__().replace(":",".")
  s=l[i][4]
  l[i][4]=s[0:-3]

for i in range(len(l_shift)):
  l_shift[i][0] = l_shift[i][0].__str__().replace(":",".")
  s=l_shift[i][0]
  l_shift[i][0]=float(s[0:-3])

In [10]:
data3= pd.DataFrame(l_shift,columns=['Difference'])
dataset3= pd.concat([dataset3,data3],axis=1)

In [11]:
#Removing redundant rows and storing in new data-structure
l2=[]
for i in range(len(l)):
  if 'P20' not in str(l[i][2]):
    l2.append(l[i])

In [12]:
for i in range(len(l2)):
  if l2[i][0]==5656:
    print(l2[i])

[5656, datetime.date(2022, 10, 3), 'P10', 83200, '1 day, 9.30']
[5656, datetime.date(2022, 10, 6), 'P10', 83600, '9.16']
[5656, datetime.date(2022, 10, 7), 'P10', 83200, '9.41']
[5656, datetime.date(2022, 10, 10), 'P10', 83400, '10.02']
[5656, datetime.date(2022, 10, 11), 'P10', 83900, '9.23']
[5656, datetime.date(2022, 10, 12), 'P10', 83800, '9.53']
[5656, datetime.date(2022, 10, 13), 'P10', 84000, '9.20']
[5656, datetime.date(2022, 10, 14), 'P10', 85600, '9.12']

In [13]:
for i in range(len(l2)):
  if 'd' in l2[i][4]:
    s=l2[i][4]
    s=float(s[8:len(s)])
    l2[i][4]=24+s

In [14]:
#Converting string type to float for Time column
for i in range(len(l2)):
  try:
   l2[i][4]=float("{:.2f}".format(float(l2[i][4])))
  except:                      
    print(l2[i][0],l2[i][4])

for i in range(len(l2)):
  try:
   l2[i][4]=float("{:.2f}".format(float(l2[i][4])))
  except:                      
    print(l2[i][0],l2[i][4])

In [15]:
l2

[[27, datetime.date(2022, 10, 1), 'P10', 83100, 8.54],
 [80, datetime.date(2022, 10, 1), 'P10', 81800, 9.13],
 [88, datetime.date(2022, 10, 1), 'P10', 81100, 9.28],
 [125, datetime.date(2022, 10, 1), 'P10', 81100, 9.17],
 [126, datetime.date(2022, 10, 1), 'P10', 82600, 6.45],
 [165, datetime.date(2022, 10, 1), 'P10', 82400, 8.57],
 [167, datetime.date(2022, 10, 1), 'P10', 143800, 9.08],
 [168, datetime.date(2022, 10, 1), 'P10', 55900, 9.0],
 [169, datetime.date(2022, 10, 1), 'P10', 82300, 9.06],
 [172, datetime.date(2022, 10, 1), 'P10', 54800, 9.04],
 [174, datetime.date(2022, 10, 1), 'P10', 75800, 9.47],
 [181, datetime.date(2022, 10, 1), 'P10', 141000, 9.25],
 [183, datetime.date(2022, 10, 1), 'P10', 225900, 7.24],
 [189, datetime.date(2022, 10, 1), 'P10', 82200, 9.34],
 [190, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [191, datetime.date(2022, 10, 1), 'P10', 232300, 6.57],
 [196, datetime.date(2022, 10, 1), 'P10', 53900, 9.14],
 [198, datetime.date(2022, 10, 1), 'P10', 55700, 8.58],
 [201, datetime.date(2022, 10, 1), 'P10', 54900, 9.06],
 [202, datetime.date(2022, 10, 1), 'P10', 55700, 8.59],
 [206, datetime.date(2022, 10, 1), 'P10', 81400, 9.1],
 [208, datetime.date(2022, 10, 1), 'P10', 82700, 4.33],
 [209, datetime.date(2022, 10, 1), 'P10', 143800, 9.04],
 [210, datetime.date(2022, 10, 1), 'P10', 55900, 8.56],
 [211, datetime.date(2022, 10, 1), 'P10', 81500, 9.11],
 [214, datetime.date(2022, 10, 1), 'P10', 102700, 7.03],
 [221, datetime.date(2022, 10, 1), 'P10', 81800, 9.05],
 [240, datetime.date(2022, 10, 1), 'P10', 82200, 9.01],
 [245, datetime.date(2022, 10, 1), 'P10', 53900, 9.13],
 [247, datetime.date(2022, 10, 1), 'P10', 80700, 9.2],
 [251, datetime.date(2022, 10, 1), 'P10', 54600, 7.12],
 [252, datetime.date(2022, 10, 1), 'P10', 142000, 9.27],
 [253, datetime.date(2022, 10, 1), 'P10', 55800, 9.02],
 [254, datetime.date(2022, 10, 1), 'P10', 54700, 9.06],
 [257, datetime.date(2022, 10, 1), 'P10', 82300, 9.0],
 [259, datetime.date(2022, 10, 1), 'P10', 231300, 7.13],
 [262, datetime.date(2022, 10, 1), 'P10', 144500, 8.56],
 [263, datetime.date(2022, 10, 1), 'P10', 60000, 8.54],
 [267, datetime.date(2022, 10, 1), 'P10', 100400, 7.51],
 [280, datetime.date(2022, 10, 1), 'P10', 144400, 7.04],
 [281, datetime.date(2022, 10, 1), 'P10', 144600, 4.17],
 [285, datetime.date(2022, 10, 1), 'P10', 81300, 7.07],
 [287, datetime.date(2022, 10, 1), 'P10', 143800, 9.09],
 [288, datetime.date(2022, 10, 1), 'P10', 81900, 7.06],
 [292, datetime.date(2022, 10, 1), 'P10', 80700, 9.22],
 [294, datetime.date(2022, 10, 1), 'P10', 53800, 9.17],
 [296, datetime.date(2022, 10, 1), 'P10', 143700, 7.11],
 [297, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [298, datetime.date(2022, 10, 1), 'P10', 82300, 9.03],
 [300, datetime.date(2022, 10, 1), 'P10', 54900, 9.04],
 [301, datetime.date(2022, 10, 1), 'P10', 231300, 7.09],
 [302, datetime.date(2022, 10, 1), 'P10', 54800, 9.02],
 [303, datetime.date(2022, 10, 1), 'P10', 80900, 9.18],
 [306, datetime.date(2022, 10, 1), 'P10', 150400, 8.45],
 [317, datetime.date(2022, 10, 1), 'P10', 54600, 9.06],
 [318, datetime.date(2022, 10, 1), 'P10', 150300, 8.37],
 [320, datetime.date(2022, 10, 1), 'P10', 60100, 8.5],
 [321, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [324, datetime.date(2022, 10, 1), 'P10', 54600, 9.07],
 [329, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [334, datetime.date(2022, 10, 1), 'P10', 143900, 9.01],
 [335, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [336, datetime.date(2022, 10, 1), 'P10', 54800, 9.09],
 [339, datetime.date(2022, 10, 1), 'P10', 55100, 7.08],
 [345, datetime.date(2022, 10, 1), 'P10', 83100, 8.52],
 [347, datetime.date(2022, 10, 1), 'P10', 232300, 7.01],
 [352, datetime.date(2022, 10, 1), 'P10', 143300, 9.11],
 [361, datetime.date(2022, 10, 1), 'P10', 55500, 11.26],
 [368, datetime.date(2022, 10, 1), 'P10', 81900, 9.59],
 [377, datetime.date(2022, 10, 1), 'P10', 144500, 9.02],
 [379, datetime.date(2022, 10, 1), 'P10', 55500, 8.55],
 [381, datetime.date(2022, 10, 1), 'P10', 82300, 9.02],
 [382, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [388, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [390, datetime.date(2022, 10, 1), 'P10', 55500, 9.02],
 [392, datetime.date(2022, 10, 1), 'P10', 81300, 9.18],
 [395, datetime.date(2022, 10, 1), 'P10', 54200, 7.09],
 [396, datetime.date(2022, 10, 1), 'P10', 143200, 9.08],
 [398, datetime.date(2022, 10, 1), 'P10', 143600, 7.08],
 [399, datetime.date(2022, 10, 1), 'P10', 54300, 9.07],
 [402, datetime.date(2022, 10, 1), 'P10', 60100, 8.52],
 [405, datetime.date(2022, 10, 1), 'P10', 81300, 7.06],
 [409, datetime.date(2022, 10, 1), 'P10', 142200, 9.21],
 [417, datetime.date(2022, 10, 1), 'P10', 54600, 9.02],
 [419, datetime.date(2022, 10, 1), 'P10', 55800, 8.55],
 [423, datetime.date(2022, 10, 1), 'P10', 80500, 9.23],
 [424, datetime.date(2022, 10, 1), 'P10', 80000, 9.26],
 [426, datetime.date(2022, 10, 1), 'P10', 55800, 8.57],
 [429, datetime.date(2022, 10, 1), 'P10', 80900, 7.2],
 [432, datetime.date(2022, 10, 1), 'P10', 53500, 9.18],
 [434, datetime.date(2022, 10, 1), 'P10', 102400, 7.55],
 [442, datetime.date(2022, 10, 1), 'P10', 81600, 10.06],
 [448, datetime.date(2022, 10, 1), 'P10', 144500, 8.57],
 [449, datetime.date(2022, 10, 1), 'P10', 143200, 9.08],
 [450, datetime.date(2022, 10, 1), 'P10', 55800, 8.53],
 [452, datetime.date(2022, 10, 1), 'P10', 83500, 8.51],
 [456, datetime.date(2022, 10, 1), 'P10', 144500, 8.56],
 [458, datetime.date(2022, 10, 1), 'P10', 144300, 9.01],
 [459, datetime.date(2022, 10, 1), 'P10', 54400, 9.07],
 [460, datetime.date(2022, 10, 1), 'P10', 144700, 8.58],
 [465, datetime.date(2022, 10, 1), 'P10', 141000, 9.27],
 [466, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [468, datetime.date(2022, 10, 1), 'P10', 53900, 9.17],
 [471, datetime.date(2022, 10, 1), 'P10', 150400, 8.42],
 [474, datetime.date(2022, 10, 1), 'P10', 60000, 8.55],
 [477, datetime.date(2022, 10, 1), 'P10', 142800, 10.13],
 [483, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [485, datetime.date(2022, 10, 1), 'P10', 54800, 9.04],
 [487, datetime.date(2022, 10, 1), 'P10', 55000, 9.02],
 [488, datetime.date(2022, 10, 1), 'P10', 54600, 9.04],
 [489, datetime.date(2022, 10, 1), 'P10', 55800, 8.52],
 [491, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [492, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [493, datetime.date(2022, 10, 1), 'P10', 83000, 8.57],
 [494, datetime.date(2022, 10, 1), 'P10', 53100, 9.25],
 [499, datetime.date(2022, 10, 1), 'P10', 55100, 2.4],
 [501, datetime.date(2022, 10, 1), 'P10', 232000, 7.01],
 [502, datetime.date(2022, 10, 1), 'P10', 90200, 8.21],
 [504, datetime.date(2022, 10, 1), 'P10', 60100, 8.52],
 [505, datetime.date(2022, 10, 1), 'P10', 54800, 9.05],
 [506, datetime.date(2022, 10, 1), 'P10', 55100, 9.09],
 [509, datetime.date(2022, 10, 1), 'P10', 144900, 8.57],
 [510, datetime.date(2022, 10, 1), 'P10', 144600, 8.57],
 [511, datetime.date(2022, 10, 1), 'P10', 230000, 7.21],
 [512, datetime.date(2022, 10, 1), 'P10', 143800, 9.06],
 [519, datetime.date(2022, 10, 1), 'P10', 55000, 9.02],
 [521, datetime.date(2022, 10, 1), 'P10', 60100, 4.09],
 [525, datetime.date(2022, 10, 1), 'P10', 55000, 9.55],
 [526, datetime.date(2022, 10, 1), 'P10', 54300, 9.07],
 [528, datetime.date(2022, 10, 1), 'P10', 83400, 8.51],
 [529, datetime.date(2022, 10, 1), 'P10', 54000, 9.17],
 [538, datetime.date(2022, 10, 1), 'P10', 81400, 9.09],
 [543, datetime.date(2022, 10, 1), 'P10', 54600, 9.08],
 [545, datetime.date(2022, 10, 1), 'P10', 141300, 9.32],
 [547, datetime.date(2022, 10, 1), 'P10', 54300, 9.07],
 [551, datetime.date(2022, 10, 1), 'P10', 54700, 9.04],
 [555, datetime.date(2022, 10, 1), 'P10', 232400, 6.58],
 [557, datetime.date(2022, 10, 1), 'P10', 54500, 9.09],
 [558, datetime.date(2022, 10, 1), 'P10', 54500, 9.06],
 [560, datetime.date(2022, 10, 1), 'P10', 55200, 8.59],
 [562, datetime.date(2022, 10, 1), 'P10', 54600, 9.04],
 [565, datetime.date(2022, 10, 1), 'P10', 54100, 14.54],
 [567, datetime.date(2022, 10, 1), 'P10', 54500, 9.05],
 [570, datetime.date(2022, 10, 1), 'P10', 55500, 9.01],
 [580, datetime.date(2022, 10, 1), 'P10', 230900, 7.15],
 [581, datetime.date(2022, 10, 1), 'P10', 81700, 9.36],
 [585, datetime.date(2022, 10, 1), 'P10', 55000, 9.02],
 [589, datetime.date(2022, 10, 1), 'P10', 150400, 8.37],
 [590, datetime.date(2022, 10, 1), 'P10', 55700, 8.55],
 [592, datetime.date(2022, 10, 1), 'P10', 54700, 9.08],
 [599, datetime.date(2022, 10, 1), 'P10', 81900, 9.25],
 [605, datetime.date(2022, 10, 1), 'P10', 54300, 9.12],
 [613, datetime.date(2022, 10, 1), 'P10', 225300, 7.27],
 [615, datetime.date(2022, 10, 1), 'P10', 75900, 9.29],
 [622, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [623, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [629, datetime.date(2022, 10, 1), 'P10', 55900, 4.12],
 [630, datetime.date(2022, 10, 1), 'P10', 144000, 9.08],
 [631, datetime.date(2022, 10, 1), 'P10', 53800, 7.14],
 [633, datetime.date(2022, 10, 1), 'P10', 60300, 8.5],
 [637, datetime.date(2022, 10, 1), 'P10', 144000, 13.0],
 [639, datetime.date(2022, 10, 1), 'P10', 53800, 9.14],
 [640, datetime.date(2022, 10, 1), 'P10', 55000, 9.04],
 [641, datetime.date(2022, 10, 1), 'P10', 54800, 9.04],
 [642, datetime.date(2022, 10, 1), 'P10', 55600, 8.57],
 [643, datetime.date(2022, 10, 1), 'P10', 144700, 8.54],
 [644, datetime.date(2022, 10, 1), 'P10', 143500, 9.07],
 [645, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [646, datetime.date(2022, 10, 1), 'P10', 144200, 12.59],
 [647, datetime.date(2022, 10, 1), 'P10', 81000, 7.17],
 [648, datetime.date(2022, 10, 1), 'P10', 54700, 9.04],
 [652, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [654, datetime.date(2022, 10, 1), 'P10', 144600, 8.59],
 [655, datetime.date(2022, 10, 1), 'P10', 55000, 9.0],
 [656, datetime.date(2022, 10, 1), 'P10', 60100, 8.49],
 [657, datetime.date(2022, 10, 1), 'P10', 144500, 8.55],
 [660, datetime.date(2022, 10, 1), 'P10', 54500, 9.08],
 [661, datetime.date(2022, 10, 1), 'P10', 143500, 9.09],
 [662, datetime.date(2022, 10, 1), 'P10', 55000, 9.05],
 [663, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [665, datetime.date(2022, 10, 1), 'P10', 143400, 9.07],
 [667, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [668, datetime.date(2022, 10, 1), 'P10', 55400, 7.05],
 [671, datetime.date(2022, 10, 1), 'P10', 55000, 9.04],
 [672, datetime.date(2022, 10, 1), 'P10', 144000, 9.02],
 [673, datetime.date(2022, 10, 1), 'P10', 150400, 8.37],
 [675, datetime.date(2022, 10, 1), 'P10', 144100, 4.23],
 [677, datetime.date(2022, 10, 1), 'P10', 80600, 9.18],
 [678, datetime.date(2022, 10, 1), 'P10', 80900, 9.14],
 [683, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [684, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [688, datetime.date(2022, 10, 1), 'P10', 55800, 8.54],
 [689, datetime.date(2022, 10, 1), 'P10', 231300, 7.08],
 [690, datetime.date(2022, 10, 1), 'P10', 54900, 9.01],
 [691, datetime.date(2022, 10, 1), 'P10', 54500, 4.57],
 [695, datetime.date(2022, 10, 1), 'P10', 81900, 9.1],
 [697, datetime.date(2022, 10, 1), 'P10', 80800, 9.21],
 [699, datetime.date(2022, 10, 1), 'P10', 54700, 9.09],
 [700, datetime.date(2022, 10, 1), 'P10', 143500, 5.08],
 [701, datetime.date(2022, 10, 1), 'P10', 143400, 9.08],
 [702, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [703, datetime.date(2022, 10, 1), 'P10', 144600, 6.54],
 [705, datetime.date(2022, 10, 1), 'P10', 80900, 7.12],
 [706, datetime.date(2022, 10, 1), 'P10', 80800, 9.18],
 [707, datetime.date(2022, 10, 1), 'P10', 150300, 12.38],
 [708, datetime.date(2022, 10, 1), 'P10', 54500, 9.09],
 [709, datetime.date(2022, 10, 1), 'P10', 53800, 5.05],
 [713, datetime.date(2022, 10, 1), 'P10', 54600, 9.08],
 [714, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [715, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [717, datetime.date(2022, 10, 1), 'P10', 145500, 6.47],
 [718, datetime.date(2022, 10, 1), 'P10', 60200, 8.52],
 [719, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [723, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [726, datetime.date(2022, 10, 1), 'P10', 82600, 9.05],
 [727, datetime.date(2022, 10, 1), 'P10', 144200, 8.58],
 [729, datetime.date(2022, 10, 1), 'P10', 55900, 8.55],
 [732, datetime.date(2022, 10, 1), 'P10', 55100, 9.05],
 [734, datetime.date(2022, 10, 1), 'P10', 54000, 9.16],
 [735, datetime.date(2022, 10, 1), 'P10', 55800, 8.59],
 [736, datetime.date(2022, 10, 1), 'P10', 55200, 8.59],
 [737, datetime.date(2022, 10, 1), 'P10', 144300, 9.01],
 [739, datetime.date(2022, 10, 1), 'P10', 55800, 8.57],
 [740, datetime.date(2022, 10, 1), 'P10', 143400, 9.06],
 [741, datetime.date(2022, 10, 1), 'P10', 54700, 9.03],
 [743, datetime.date(2022, 10, 1), 'P10', 60400, 8.51],
 [758, datetime.date(2022, 10, 1), 'P10', 54400, 9.12],
 [761, datetime.date(2022, 10, 1), 'P10', 144700, 8.57],
 [763, datetime.date(2022, 10, 1), 'P10', 80900, 9.23],
 [766, datetime.date(2022, 10, 1), 'P10', 150300, 8.37],
 [772, datetime.date(2022, 10, 1), 'P10', 54500, 9.08],
 [778, datetime.date(2022, 10, 1), 'P10', 54600, 7.04],
 [786, datetime.date(2022, 10, 1), 'P10', 53000, 9.29],
 [787, datetime.date(2022, 10, 1), 'P10', 55100, 9.0],
 [788, datetime.date(2022, 10, 1), 'P10', 143800, 9.08],
 [789, datetime.date(2022, 10, 1), 'P10', 81600, 9.13],
 [790, datetime.date(2022, 10, 1), 'P10', 55400, 8.58],
 [794, datetime.date(2022, 10, 1), 'P10', 144000, 9.04],
 [795, datetime.date(2022, 10, 1), 'P10', 144300, 9.01],
 [797, datetime.date(2022, 10, 1), 'P10', 144700, 8.53],
 [803, datetime.date(2022, 10, 1), 'P10', 55700, 8.53],
 [811, datetime.date(2022, 10, 1), 'P10', 81400, 9.27],
 [816, datetime.date(2022, 10, 1), 'P10', 144600, 12.54],
 [824, datetime.date(2022, 10, 1), 'P10', 144200, 8.58],
 [825, datetime.date(2022, 10, 1), 'P10', 55900, 8.51],
 [827, datetime.date(2022, 10, 1), 'P10', 55600, 8.56],
 [828, datetime.date(2022, 10, 1), 'P10', 54600, 7.04],
 [832, datetime.date(2022, 10, 1), 'P10', 54900, 7.01],
 [833, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [834, datetime.date(2022, 10, 1), 'P10', 53900, 9.21],
 [836, datetime.date(2022, 10, 1), 'P10', 144000, 9.0],
 [837, datetime.date(2022, 10, 1), 'P10', 143600, 9.1],
 [838, datetime.date(2022, 10, 1), 'P10', 144600, 6.54],
 [839, datetime.date(2022, 10, 1), 'P10', 144300, 8.57],
 [840, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [841, datetime.date(2022, 10, 1), 'P10', 55800, 8.53],
 [843, datetime.date(2022, 10, 1), 'P10', 55500, 8.57],
 [844, datetime.date(2022, 10, 1), 'P10', 55500, 8.56],
 [845, datetime.date(2022, 10, 1), 'P10', 80800, 7.15],
 [846, datetime.date(2022, 10, 1), 'P10', 144400, 8.59],
 [847, datetime.date(2022, 10, 1), 'P10', 53800, 9.16],
 [848, datetime.date(2022, 10, 2), 'P10', 1300, 6.14],
 [851, datetime.date(2022, 10, 1), 'P10', 144600, 8.54],
 [853, datetime.date(2022, 10, 1), 'P10', 81800, 9.04],
 [860, datetime.date(2022, 10, 1), 'P10', 82300, 9.25],
 [862, datetime.date(2022, 10, 1), 'P10', 82600, 9.07],
 [863, datetime.date(2022, 10, 1), 'P10', 81900, 9.12],
 [874, datetime.date(2022, 10, 1), 'P10', 54700, 9.03],
 [875, datetime.date(2022, 10, 1), 'P10', 150400, 8.42],
 [878, datetime.date(2022, 10, 1), 'P10', 144100, 9.0],
 [879, datetime.date(2022, 10, 1), 'P10', 142200, 9.25],
 [883, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [888, datetime.date(2022, 10, 1), 'P10', 143600, 9.1],
 [895, datetime.date(2022, 10, 1), 'P10', 81800, 10.06],
 [896, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [903, datetime.date(2022, 10, 1), 'P10', 81800, 9.02],
 [906, datetime.date(2022, 10, 1), 'P10', 54900, 9.03],
 [907, datetime.date(2022, 10, 1), 'P10', 142400, 9.23],
 [909, datetime.date(2022, 10, 1), 'P10', 82100, 9.1],
 [910, datetime.date(2022, 10, 1), 'P10', 225600, 7.3],
 [914, datetime.date(2022, 10, 1), 'P10', 55500, 8.57],
 [917, datetime.date(2022, 10, 1), 'P10', 54600, 9.13],
 [925, datetime.date(2022, 10, 1), 'P10', 231200, 7.08],
 [926, datetime.date(2022, 10, 1), 'P10', 150400, 8.36],
 [928, datetime.date(2022, 10, 1), 'P10', 55000, 9.04],
 [930, datetime.date(2022, 10, 1), 'P10', 143800, 9.11],
 [931, datetime.date(2022, 10, 1), 'P10', 143500, 7.09],
 [936, datetime.date(2022, 10, 1), 'P10', 144100, 9.05],
 [937, datetime.date(2022, 10, 1), 'P10', 80100, 9.31],
 [939, datetime.date(2022, 10, 1), 'P10', 81700, 9.08],
 [941, datetime.date(2022, 10, 1), 'P10', 143500, 9.05],
 [943, datetime.date(2022, 10, 1), 'P10', 55800, 10.52],
 [946, datetime.date(2022, 10, 1), 'P10', 144100, 9.04],
 [947, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [950, datetime.date(2022, 10, 1), 'P10', 144200, 9.07],
 [951, datetime.date(2022, 10, 1), 'P10', 144500, 6.55],
 [952, datetime.date(2022, 10, 1), 'P10', 143200, 9.09],
 [953, datetime.date(2022, 10, 1), 'P10', 143700, 9.04],
 [954, datetime.date(2022, 10, 1), 'P10', 144200, 9.07],
 [956, datetime.date(2022, 10, 1), 'P10', 144500, 6.55],
 [957, datetime.date(2022, 10, 1), 'P10', 144700, 8.54],
 [958, datetime.date(2022, 10, 1), 'P10', 143600, 7.08],
 [963, datetime.date(2022, 10, 1), 'P10', 53400, 9.24],
 [966, datetime.date(2022, 10, 1), 'P10', 143400, 9.06],
 [968, datetime.date(2022, 10, 1), 'P10', 230900, 7.16],
 [973, datetime.date(2022, 10, 1), 'P10', 82200, 9.02],
 [974, datetime.date(2022, 10, 1), 'P10', 55500, 8.56],
 [975, datetime.date(2022, 10, 1), 'P10', 143900, 9.02],
 [979, datetime.date(2022, 10, 1), 'P10', 54600, 9.05],
 [980, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [985, datetime.date(2022, 10, 1), 'P10', 54800, 9.03],
 [986, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [987, datetime.date(2022, 10, 1), 'P10', 55000, 9.01],
 [990, datetime.date(2022, 10, 1), 'P10', 53800, 9.13],
 [993, datetime.date(2022, 10, 1), 'P10', 144600, 8.56],
 [994, datetime.date(2022, 10, 1), 'P10', 55500, 8.57],
 [998, datetime.date(2022, 10, 1), 'P10', 80900, 9.21],
 [999, datetime.date(2022, 10, 1), 'P10', 55100, 9.11],
 [1003, datetime.date(2022, 10, 1), 'P10', 54900, 9.03],
 [1004, datetime.date(2022, 10, 1), 'P10', 54200, 9.09],
 [1006, datetime.date(2022, 10, 1), 'P10', 144000, 9.01],
 [1007, datetime.date(2022, 10, 1), 'P10', 55300, 8.58],
 [1009, datetime.date(2022, 10, 1), 'P10', 143300, 8.59],
 [1020, datetime.date(2022, 10, 1), 'P10', 53600, 9.13],
 [1021, datetime.date(2022, 10, 1), 'P10', 144000, 9.0],
 [1022, datetime.date(2022, 10, 1), 'P10', 144600, 8.58],
 [1026, datetime.date(2022, 10, 1), 'P10', 144200, 9.0],
 [1033, datetime.date(2022, 10, 1), 'P10', 81900, 4.49],
 [1035, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [1039, datetime.date(2022, 10, 1), 'P10', 53700, 9.15],
 [1041, datetime.date(2022, 10, 1), 'P10', 54200, 9.08],
 [1043, datetime.date(2022, 10, 1), 'P10', 143500, 9.08],
 [1044, datetime.date(2022, 10, 1), 'P10', 232300, 6.59],
 [1047, datetime.date(2022, 10, 1), 'P10', 144600, 8.54],
 [1048, datetime.date(2022, 10, 1), 'P10', 54800, 9.05],
 [1049, datetime.date(2022, 10, 1), 'P10', 60800, 8.43],
 [1053, datetime.date(2022, 10, 1), 'P10', 142100, 9.12],
 [1055, datetime.date(2022, 10, 1), 'P10', 143500, 9.05],
 [1058, datetime.date(2022, 10, 1), 'P10', 143000, 7.03],
 [1085, datetime.date(2022, 10, 1), 'P10', 83500, 8.5],
 [1086, datetime.date(2022, 10, 1), 'P10', 80000, 9.28],
 [1087, datetime.date(2022, 10, 1), 'P10', 53700, 9.15],
 [1089, datetime.date(2022, 10, 1), 'P10', 143800, 9.03],
 [1091, datetime.date(2022, 10, 1), 'P10', 143800, 9.02],
 [1095, datetime.date(2022, 10, 1), 'P10', 53900, 7.11],
 [1098, datetime.date(2022, 10, 1), 'P10', 142800, 10.48],
 [1100, datetime.date(2022, 10, 1), 'P10', 55700, 9.1],
 [1101, datetime.date(2022, 10, 1), 'P10', 143500, 9.05],
 [1103, datetime.date(2022, 10, 1), 'P10', 144100, 8.59],
 [1104, datetime.date(2022, 10, 1), 'P10', 143700, 9.03],
 [1105, datetime.date(2022, 10, 1), 'P10', 60800, 8.43],
 [1107, datetime.date(2022, 10, 1), 'P10', 55800, 8.57],
 [1109, datetime.date(2022, 10, 1), 'P10', 225800, 7.22],
 [1110, datetime.date(2022, 10, 1), 'P10', 80800, 9.15],

In [16]:
dataset2

,E Code,Full Name,Father Name,Sex,Location,Status,Designation,Operation,Division,Department,Section,Section Code,DOJ
0,27,Shishir Chaturvedi,R K Chaturvedi,MALE,Tapukara Plant 2F,Active,General Manager,Tapukara Plant,Purchase Tapukara,NaN,NaN,NaN,2000-03-25
1,32,Sanjeev Juyal,D R Juyal,MALE,Head Office - Manesar,Active,Chief Manager,General and Corporate Affairs,Industrial Relations,Employee Benefit,NaN,NaN,2000-04-01
2,43,Anupam Mohindroo,K K Mohindroo,MALE,Manesar Plant 1F,Withdrawn,Director,Purchase,NaN,NaN,NaN,NaN,2000-05-01
3,46,Prabhu Nagaraj,G Nagaraj,MALE,Head Office - Manesar,Active,Operating Officer,Brand & Communication,NaN,NaN,NaN,NaN,2000-05-01
4,48,Sanjul Saxena,Mahesh Chandra Saxena,MALE,Head Office - Manesar,Active,General Manager,Customer Service,CS Technical,NaN,NaN,NaN,2000-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19775,30010176,Patel Jaydip Amrutbhai,Patel Amrutbhai Maganbhai,MALE,Vithalapur Plant 4F,Active,Apprentice,Vithalapur Plant,Production Power Train Vithalapur,Assembly Engine 4F,AE SFM,AE SFM,2022-10-06
19776,30010177,Thakor Sanjaykumar Divanji,Thakor Diwanji,MALE,Vithalapur Plant 4F,Active,Apprentice,Vithalapur Plant,Production Body Vithalapur,Assembly Frame 4F,Line 1,Line 1,2022-10-06
19777,30010178,Patel Hitesh Dineshbhai,Patel Dineshbhai Ambaramdas,MALE,Vithalapur Plant 4F,Active,Apprentice,Vithalapur Plant,Production Body Vithalapur,Assembly Frame 4F,Line 2,Line 2,2022-10-06
19778,30010179,Mevada Yashkumar Kanaiyalal,Kanaiyalal Kodarlal Mevada,MALE,Vithalapur Plant 4F,Active,Apprentice,Vithalapur Plant,Quality Control Vithalapur,Vehicle Quality 4F,Line-1,Line -1,2022-10-06
19779,30010180,Chaudhari Savankumar Rameshbhai,Chaudhari Rameshbhai Keshavlal,MALE,Vithalapur Plant 4F,Active,Apprentice,Vithalapur Plant,Quality Control Vithalapur,Vehicle Quality 4F,Line-1,Line -1,2022-10-06

In [17]:
"""Converting time from float to mins, applied logic to check if it is greater than 9hrs & 30mins. Subtacting the 
result to get over time (minutes) converting and storing it into hrs.minutes format. """

l3=[]
for i in range(len(l2)):
  # print(dataset2.iloc[l2[i][0]]['Location'])
  
  frac, whole = math.modf(l2[i][4])
  mins=int(whole*60+frac*100)


  
  def binarySearch(arr, l, r, x):

    while l <= r:

      mid = l + (r - l) // 2

      # Check if x is present at mid
      if arr[mid] == x:
        return mid

      # If x is greater, ignore left half
      elif arr[mid] < x:
        l = mid + 1

      # If x is smaller, ignore right half
      else:
        r = mid - 1

    # If we reach here, then the element
    # was not present
    return -1


  # Driver Code
  arr = [int(i) for i in dataset2['E Code']]
  # Function call
  result = binarySearch(arr, 0, len(arr)-1, int(l2[i][0]))

  if result != -1:
      l_dest=dataset2.iloc[result]['Location']

  


  #1F A-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[0]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[0]['Start']-3000) and '1F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[0]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      print("1f a")
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #1F B-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[1]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[1]['Start']-3000) and '1F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[1]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      print("1f b")
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #1F C-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[2]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[2]['Start']-3000) and '1F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[2]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      print("1f c")
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #HO G-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[15]['Start']+10000)>=l2[i][3]>=(dataset3.iloc[15]['Start']-10000) and 'Head' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[15]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #2F A-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[3]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[3]['Start']-3000) and '2F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[3]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #2F B4-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[4]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[4]['Start']-3000) and '2F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[4]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #2F C-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[5]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[5]['Start']-3000) and '2F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[5]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #2F G-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[6]['Start']+10000)>=l2[i][3]>=(dataset3.iloc[6]['Start']-10000) and '2F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[6]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #3F A-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[7]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[7]['Start']-3000) and '3F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[7]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #3F B4-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[8]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[8]['Start']-3000) and '3F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[8]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #3F C-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[9]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[9]['Start']-3000) and '3F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[9]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #3F G-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[10]['Start']+10000)>=l2[i][3]>=(dataset3.iloc[10]['Start']-10000) and '3F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[10]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #4F A-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[11]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[11]['Start']-3000) and '4F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[11]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #4F B-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[12]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[12]['Start']-3000) and '4F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[12]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #4F C-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[13]['Start']+1500)>=l2[i][3]>=(dataset3.iloc[13]['Start']-3000) and '4F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[13]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

  #4F G-Shift
  if l2[i][2]=='P10' and (dataset3.iloc[14]['Start']+10000)>=l2[i][3]>=(dataset3.iloc[14]['Start']-10000) and '4F' in l_dest:
    frac1, whole1 = math.modf(dataset3.iloc[14]['Difference'])
    mins_dif=int(whole1*60+frac1*100)
    mins_dif+=30
    if mins>mins_dif:
      mins=mins-mins_dif
      hours=mins//60
      minutes=mins%60
      if minutes<10:
        ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l2[i].append(ot_time)
      l3.append(l2[i])

#################################################################

1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f a
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f a
1f a
1f b
1f b
1f a
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f c
1f b
1f c
1f a
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f c
1f b
1f c
1f c
1f b
1f c
1f b
1f c
1f b
1f b
1f b
1f c
1f b
1f b
1f a
1f b
1f b
1f c
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f a
1f b
1f b
1f b
1f b
1f c
1f c
1f b
1f c
1f c
1f c
1f b
1f b
1f c
1f b
1f b
1f b
1f c
1f c
1f a
1f c
1f c
1f b
1f c
1f b
1f b
1f a
1f b
1f c
1f b
1f b
1f b
1f a
1f b
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f a
1f b
1f b
1f b
1f b
1f c
1f b
1f c
1f b
1f b
1f b
1f c
1f b
1f c
1f b
1f b
1f c
1f c
1f c
1f c
1f b
1f c
1f b
1f b
1f b
1f c
1f b
1f b
1f b
1f b
1f b
1f b
1f a
1f c
1f a
1f a
1f c
1f b
1f b
1f b
1f b

In [18]:
print(l3)

[[637, datetime.date(2022, 10, 1), 'P10', 144000, 13.0, 3.4], [646, datetime.date(2022, 10, 1), 'P10', 144200, 12.59, 3.39], [816, datetime.date(2022, 10, 1), 'P10', 144600, 12.54, 3.33], [1363, datetime.date(2022, 10, 1), 'P10', 143200, 13.08, 3.48], [2100, datetime.date(2022, 10, 1), 'P10', 143800, 13.02, 3.42], [2548, datetime.date(2022, 10, 1), 'P10', 231300, 7.12, 0.02], [3162, datetime.date(2022, 10, 1), 'P10', 81200, 11.39, 2.19], [3788, datetime.date(2022, 10, 1), 'P10', 144100, 12.59, 3.39], [3791, datetime.date(2022, 10, 1), 'P10', 144800, 12.13, 2.53], [3819, datetime.date(2022, 10, 1), 'P10', 144200, 12.59, 3.39], [5418, datetime.date(2022, 10, 1), 'P10', 60900, 11.14, 1.54], [6351, datetime.date(2022, 10, 1), 'P10', 144700, 12.54, 3.33], [224, datetime.date(2022, 10, 3), 'P10', 80400, 10.31, 1.11], [1387, datetime.date(2022, 10, 3), 'P10', 144100, 13.0, 3.4], [1794, datetime.date(2022, 10, 3), 'P10', 144500, 24.21, 15.01], [1977, datetime.date(2022, 10, 3), 'P10', 84000, 9.38, 0.18], [1994, datetime.date(2022, 10, 3), 'P10', 82800, 9.42, 0.22], [2100, datetime.date(2022, 10, 3), 'P10', 144700, 12.53, 3.32], [2306, datetime.date(2022, 10, 3), 'P10', 142100, 9.21, 0.01], [2314, datetime.date(2022, 10, 3), 'P10', 144700, 12.53, 3.32], [2883, datetime.date(2022, 10, 3), 'P10', 81800, 9.23, 0.03], [3015, datetime.date(2022, 10, 3), 'P10', 75000, 9.28, 0.07], [3189, datetime.date(2022, 10, 3), 'P10', 82800, 9.42, 0.22], [3225, datetime.date(2022, 10, 3), 'P10', 82300, 9.34, 0.14], [3359, datetime.date(2022, 10, 3), 'P10', 82200, 11.37, 2.16], [3480, datetime.date(2022, 10, 3), 'P10', 82400, 9.29, 0.08], [3543, datetime.date(2022, 10, 3), 'P10', 82800, 9.42, 0.22], [3549, datetime.date(2022, 10, 3), 'P10', 83300, 9.38, 0.18], [3822, datetime.date(2022, 10, 3), 'P10', 75400, 9.34, 0.14], [3829, datetime.date(2022, 10, 3), 'P10', 75200, 9.25, 0.05], [3955, datetime.date(2022, 10, 3), 'P10', 75300, 9.49, 0.29], [4026, datetime.date(2022, 10, 3), 'P10', 82200, 9.5, 0.3], [4140, datetime.date(2022, 10, 3), 'P10', 83600, 9.34, 0.14], [4306, datetime.date(2022, 10, 3), 'P10', 75600, 10.39, 1.19], [4307, datetime.date(2022, 10, 3), 'P10', 75600, 10.39, 1.19], [4493, datetime.date(2022, 10, 3), 'P10', 81400, 9.26, 0.06], [4498, datetime.date(2022, 10, 3), 'P10', 73600, 10.27, 1.07], [4665, datetime.date(2022, 10, 3), 'P10', 83500, 9.36, 0.16], [4679, datetime.date(2022, 10, 3), 'P10', 82400, 9.37, 0.16], [4695, datetime.date(2022, 10, 3), 'P10', 75700, 9.46, 0.26], [4729, datetime.date(2022, 10, 3), 'P10', 82000, 9.29, 0.08], [4812, datetime.date(2022, 10, 3), 'P10', 82800, 9.42, 0.22], [4826, datetime.date(2022, 10, 3), 'P10', 83300, 9.34, 0.14], [4875, datetime.date(2022, 10, 3), 'P10', 82200, 9.37, 0.16], [5149, datetime.date(2022, 10, 3), 'P10', 84200, 9.29, 0.08], [5256, datetime.date(2022, 10, 3), 'P10', 83400, 9.36, 0.16], [5326, datetime.date(2022, 10, 3), 'P10', 80000, 9.24, 0.04], [5417, datetime.date(2022, 10, 3), 'P10', 83100, 9.25, 0.05], [5656, datetime.date(2022, 10, 3), 'P10', 83200, 24.3, 15.1], [5963, datetime.date(2022, 10, 3), 'P10', 83500, 11.04, 1.43], [6031, datetime.date(2022, 10, 3), 'P10', 82800, 9.23, 0.03], [6039, datetime.date(2022, 10, 3), 'P10', 83300, 9.32, 0.12], [6056, datetime.date(2022, 10, 3), 'P10', 75000, 9.28, 0.07], [6068, datetime.date(2022, 10, 3), 'P10', 81700, 10.18, 0.58], [6105, datetime.date(2022, 10, 3), 'P10', 82800, 9.23, 0.03], [6139, datetime.date(2022, 10, 3), 'P10', 83600, 9.31, 0.11], [6210, datetime.date(2022, 10, 3), 'P10', 82600, 9.56, 0.36], [6433, datetime.date(2022, 10, 3), 'P10', 80900, 9.34, 0.14], [6441, datetime.date(2022, 10, 3), 'P10', 81600, 9.4, 0.2], [6459, datetime.date(2022, 10, 3), 'P10', 84300, 9.33, 0.13], [6626, datetime.date(2022, 10, 3), 'P10', 74500, 9.55, 0.35], [6653, datetime.date(2022, 10, 3), 'P10', 83900, 9.28, 0.07], [7218, datetime.date(2022, 10, 3), 'P10', 84300, 9.52, 0.32], [7248, datetime.date(2022, 10, 3), 'P10', 81000, 9.22, 0.02], [7249, datetime.date(2022, 10, 3), 'P10', 80000, 9.25, 0.05], [7267, datetime.date(2022, 10, 3), 'P10', 81300, 9.45, 0.24], [7627, datetime.date(2022, 10, 3), 'P10', 75300, 9.32, 0.12], [7914, datetime.date(2022, 10, 3), 'P10', 83100, 9.23, 0.03], [8100, datetime.date(2022, 10, 3), 'P10', 80600, 9.38, 0.18], [8108, datetime.date(2022, 10, 3), 'P10', 81800, 9.59, 0.39], [8195, datetime.date(2022, 10, 3), 'P10', 81300, 9.45, 0.24], [8216, datetime.date(2022, 10, 3), 'P10', 81000, 9.46, 0.26], [8231, datetime.date(2022, 10, 3), 'P10', 80200, 9.44, 0.24], [8262, datetime.date(2022, 10, 3), 'P10', 73000, 10.56, 1.36], [8282, datetime.date(2022, 10, 3), 'P10', 80500, 10.1, 0.5], [8487, datetime.date(2022, 10, 3), 'P10', 80200, 9.38, 0.18], [8494, datetime.date(2022, 10, 3), 'P10', 75500, 9.34, 0.14], [8507, datetime.date(2022, 10, 3), 'P10', 83400, 9.45, 0.24], [8631, datetime.date(2022, 10, 3), 'P10', 82300, 9.41, 0.21], [8870, datetime.date(2022, 10, 3), 'P10', 83800, 9.36, 0.16], [10003, datetime.date(2022, 10, 3), 'P10', 84900, 10.44, 1.24], [10116, datetime.date(2022, 10, 3), 'P10', 75000, 9.42, 0.22], [10163, datetime.date(2022, 10, 3), 'P10', 81600, 9.21, 0.01], [10352, datetime.date(2022, 10, 3), 'P10', 83500, 9.24, 0.04], [10364, datetime.date(2022, 10, 3), 'P10', 80600, 9.3, 0.1], [10417, datetime.date(2022, 10, 3), 'P10', 83700, 9.39, 0.19], [10725, datetime.date(2022, 10, 3), 'P10', 80700, 9.26, 0.06], [11018, datetime.date(2022, 10, 3), 'P10', 81400, 9.44, 0.24], [11447, datetime.date(2022, 10, 3), 'P10', 92800, 9.26, 0.06], [11521, datetime.date(2022, 10, 3), 'P10', 81200, 9.24, 0.04], [11660, datetime.date(2022, 10, 3), 'P10', 82100, 10.12, 0.51], [11661, datetime.date(2022, 10, 3), 'P10', 81500, 9.24, 0.04], [11665, datetime.date(2022, 10, 3), 'P10', 82200, 9.21, 0.01], [11667, datetime.date(2022, 10, 3), 'P10', 82200, 9.32, 0.12], [11683, datetime.date(2022, 10, 3), 'P10', 84600, 9.21, 0.01], [11689, datetime.date(2022, 10, 3), 'P10', 84300, 9.28, 0.07], [11690, datetime.date(2022, 10, 3), 'P10', 84300, 9.36, 0.16], [11691, datetime.date(2022, 10, 3), 'P10', 75800, 9.52, 0.32], [11724, datetime.date(2022, 10, 3), 'P10', 75000, 10.48, 1.28], [11748, datetime.date(2022, 10, 3), 'P10', 82000, 9.37, 0.16], [11753, datetime.date(2022, 10, 3), 'P10', 82000, 9.38, 0.18], [11760, datetime.date(2022, 10, 3), 'P10', 75600, 10.01, 0.41], [11762, datetime.date(2022, 10, 3), 'P10', 82000, 9.38, 0.18], [11788, datetime.date(2022, 10, 3), 'P10', 75600, 9.33, 0.13], [11828, datetime.date(2022, 10, 3), 'P10', 75800, 9.59, 0.39], [11833, datetime.date(2022, 10, 3), 'P10', 75700, 9.43, 0.23], [11000516, datetime.date(2022, 10, 3), 'P10', 81600, 9.28, 0.07], [11000517, datetime.date(2022, 10, 3), 'P10', 81100, 9.22, 0.02], [32, datetime.date(2022, 10, 4), 'P10', 73800, 9.39, 0.19], [708, datetime.date(2022, 10, 4), 'P10', 144500, 12.59, 3.39], [715, datetime.date(2022, 10, 4), 'P10', 231200, 7.15, 0.05], [737, datetime.date(2022, 10, 4), 'P10', 142600, 9.22, 0.02], [1062, datetime.date(2022, 10, 4), 'P10', 75300, 14.17, 4.57], [1114, datetime.date(2022, 10, 4), 'P10', 144200, 11.58, 2.38], [1117, datetime.date(2022, 10, 4), 'P10', 145000, 12.54, 3.33], [1122, datetime.date(2022, 10, 4), 'P10', 144100, 13.04, 3.43], [1880, datetime.date(2022, 10, 4), 'P10', 143800, 13.02, 3.42], [1940, datetime.date(2022, 10, 4), 'P10', 144700, 12.58, 3.38], [2239, datetime.date(2022, 10, 4), 'P10', 231200, 7.12, 0.02], [2338, datetime.date(2022, 10, 4), 'P10', 143700, 13.03, 3.42], [2341, datetime.date(2022, 10, 4), 'P10', 143700, 13.03, 3.42], [2433, datetime.date(2022, 10, 4), 'P10', 143800, 13.05, 3.45], [2679, datetime.date(2022, 10, 4), 'P10', 84300, 9.33, 0.13], [2731, datetime.date(2022, 10, 4), 'P10', 144800, 12.52, 3.32], [3015, datetime.date(2022, 10, 4), 'P10', 74600, 10.27, 1.07], [3189, datetime.date(2022, 10, 4), 'P10', 82700, 10.12, 0.51], [3359, datetime.date(2022, 10, 4), 'P10', 81300, 9.44, 0.24], [3543, datetime.date(2022, 10, 4), 'P10', 82700, 10.12, 0.51], [3904, datetime.date(2022, 10, 4), 'P10', 84300, 9.39, 0.19], [3925, datetime.date(2022, 10, 4), 'P10', 82100, 9.51, 0.31], [4073, datetime.date(2022, 10, 4), 'P10', 81200, 9.21, 0.01], [4178, datetime.date(2022, 10, 4), 'P10', 82800, 9.54, 0.33], [4471, datetime.date(2022, 10, 4), 'P10', 81900, 10.2, 0.59], [4665, datetime.date(2022, 10, 4), 'P10', 83700, 9.37, 0.16], [4674, datetime.date(2022, 10, 4), 'P10', 80400, 9.38, 0.18], [4695, datetime.date(2022, 10, 4), 'P10', 83600, 9.3, 0.1], [4729, datetime.date(2022, 10, 4), 'P10', 82200, 9.52, 0.32], [4747, datetime.date(2022, 10, 4), 'P10', 60900, 16.02, 6.42], [4847, datetime.date(2022, 10, 4), 'P10', 81000, 9.24, 0.04], [5283, datetime.date(2022, 10, 4), 'P10', 60300, 11.26, 2.06], [5417, datetime.date(2022, 10, 4), 'P10', 81600, 9.46, 0.26], [5816, datetime.date(2022, 10, 4), 'P10', 143800, 11.59, 2.39], [5963, datetime.date(2022, 10, 4), 'P10', 81200, 10.02, 0.42], [6005, datetime.date(2022, 10, 4), 'P10', 83700, 9.26, 0.06], [6357, datetime.date(2022, 10, 4), 'P10', 144400, 12.58, 3.38], [6433, datetime.date(2022, 10, 4), 'P10', 82500, 9.52, 0.32], [6441, datetime.date(2022, 10, 4), 'P10', 80700, 9.39, 0.19], [6485, datetime.date(2022, 10, 4), 'P10', 83200, 9.23, 0.03], [6526, datetime.date(2022, 10, 4), 'P10', 80800, 9.33, 0.13], [6543, datetime.date(2022, 10, 4), 'P10', 73900, 9.4, 0.2], [6626, datetime.date(2022, 10, 4), 'P10', 74500, 9.35, 0.15], [6699, datetime.date(2022, 10, 4), 'P10', 81900, 10.12, 0.51], [6705, datetime.date(2022, 10, 4), 'P10', 84700, 9.27, 0.07], [7248, datetime.date(2022, 10, 4), 'P10', 80500, 9.22, 0.02], [7249, datetime.date(2022, 10, 4), 'P10', 80500, 9.21, 0.01], [7267, datetime.date(2022, 10, 4), 'P10', 81400, 9.59, 0.39], [7930, datetime.date(2022, 10, 4), 'P10', 85200, 9.32, 0.12], [8216, datetime.date(2022, 10, 4), 'P10', 80200, 9.39, 0.19], [8282, datetime.date(2022, 10, 4), 'P10', 80800, 10.01, 0.41], [8474, datetime.date(2022, 10, 4), 'P10', 60300, 11.2, 1.59], [8962, datetime.date(2022, 10, 4), 'P10', 80800, 9.26, 0.06], [10003, datetime.date(2022, 10, 4), 'P10', 84200, 9.21, 0.01], [10094, datetime.date(2022, 10, 4), 'P10', 80200, 9.47, 0.27], [10364, datetime.date(2022, 10, 4), 'P10', 80500, 9.22, 0.02], [10488, datetime.date(2022, 10, 4), 'P10', 82700, 9.57, 0.37], [10654, datetime.date(2022, 10, 4), 'P10', 80400, 9.37, 0.16], [10716, datetime.date(2022, 10, 4), 'P10', 83300, 9.45, 0.24], [11021, datetime.date(2022, 10, 4), 'P10', 81300, 9.42, 0.22], [11053, datetime.date(2022, 10, 4), 'P10', 81200, 9.34, 0.14], [11459, datetime.date(2022, 10, 4), 'P10', 82900, 9.51, 0.31], [11498, datetime.date(2022, 10, 4), 'P10', 144100, 12.59, 3.39], [11660, datetime.date(2022, 10, 4), 'P10', 82200, 9.56, 0.36], [11714, datetime.date(2022, 10, 4), 'P10', 80400, 10.18, 0.58], [11723, datetime.date(2022, 10, 4), 'P10', 83100, 9.31, 0.11], [11000316, datetime.date(2022, 10, 4), 'P10', 83500, 9.3, 0.1], [11000322, datetime.date(2022, 10, 4), 'P10', 80400, 9.48, 0.28], [11000516, datetime.date(2022, 10, 4), 'P10', 81400, 9.26, 0.06], [30009223, datetime.date(2022, 10, 4), 'P10', 144200, 13.03, 3.42], [30009285, datetime.date(2022, 10, 4), 'P10', 144300, 12.57, 3.37], [729, datetime.date(2022, 10, 6), 'P10', 143900, 13.01, 3.41], [1062, datetime.date(2022, 10, 6), 'P10', 75400, 15.14, 5.54], [1117, datetime.date(2022, 10, 6), 'P10', 144800, 12.52, 3.32], [1122, datetime.date(2022, 10, 6), 'P10', 145700, 12.43, 3.23], [1275, datetime.date(2022, 10, 6), 'P10', 144100, 12.59, 3.39], [1280, datetime.date(2022, 10, 6), 'P10', 143700, 13.03, 3.42], [1493, datetime.date(2022, 10, 6), 'P10', 142500, 9.22, 0.02], [2075, datetime.date(2022, 10, 6), 'P10', 82100, 9.25, 0.05], [2162, datetime.date(2022, 10, 6), 'P10', 231000, 7.12, 0.02], [2273, datetime.date(2022, 10, 6), 'P10', 144800, 12.52, 3.32], [2314, datetime.date(2022, 10, 6), 'P10', 144100, 12.59, 3.39], [2956, datetime.date(2022, 10, 6), 'P10', 144500, 12.55, 3.35], [3189, datetime.date(2022, 10, 6), 'P10', 85700, 9.38, 0.18], [3341, datetime.date(2022, 10, 6), 'P10', 84200, 9.33, 0.13], [3359, datetime.date(2022, 10, 6), 'P10', 81900, 13.41, 4.21], [3478, datetime.date(2022, 10, 6), 'P10', 75500, 9.32, 0.12], [3543, datetime.date(2022, 10, 6), 'P10', 85700, 9.38, 0.18], [3549, datetime.date(2022, 10, 6), 'P10', 82700, 9.57, 0.37], [3659, datetime.date(2022, 10, 6), 'P10', 83300, 9.43, 0.23], [3904, datetime.date(2022, 10, 6), 'P10', 81900, 9.38, 0.18], [3955, datetime.date(2022, 10, 6), 'P10', 75700, 9.53, 0.32], [4118, datetime.date(2022, 10, 6), 'P10', 81800, 9.26, 0.06], [4120, datetime.date(2022, 10, 6), 'P10', 83500, 9.23, 0.03], [4140, datetime.date(2022, 10, 6), 'P10', 82600, 10.1, 0.5], [4258, datetime.date(2022, 10, 6), 'P10', 84200, 9.22, 0.02], [4306, datetime.date(2022, 10, 6), 'P10', 75400, 9.36, 0.16], [4307, datetime.date(2022, 10, 6), 'P10', 75400, 9.36, 0.16], [4424, datetime.date(2022, 10, 6), 'P10', 82100, 9.26, 0.06], [4463, datetime.date(2022, 10, 6), 'P10', 84100, 9.33, 0.13], [4471, datetime.date(2022, 10, 6), 'P10', 82000, 10.15, 0.55], [4477, datetime.date(2022, 10, 6), 'P10', 82300, 9.57, 0.37], [4490, datetime.date(2022, 10, 6), 'P10', 90900, 9.24, 0.04], [4529, datetime.date(2022, 10, 6), 'P10', 143500, 13.05, 3.45], [4578, datetime.date(2022, 10, 6), 'P10', 75400, 9.29, 0.08], [4678, datetime.date(2022, 10, 6), 'P10', 80800, 9.52, 0.32], [4695, datetime.date(2022, 10, 6), 'P10', 84500, 9.46, 0.26], [4710, datetime.date(2022, 10, 6), 'P10', 80000, 9.39, 0.19], [4729, datetime.date(2022, 10, 6), 'P10', 82200, 9.52, 0.32], [4875, datetime.date(2022, 10, 6), 'P10', 82000, 9.34, 0.14], [5149, datetime.date(2022, 10, 6), 'P10', 85900, 9.24, 0.04], [5524, datetime.date(2022, 10, 6), 'P10', 142300, 13.17, 3.57], [5816, datetime.date(2022, 10, 6), 'P10', 145200, 11.51, 2.31], [5963, datetime.date(2022, 10, 6), 'P10', 82300, 10.19, 0.59], [6005, datetime.date(2022, 10, 6), 'P10', 85200, 9.4, 0.2], [6088, datetime.date(2022, 10, 6), 'P10', 144100, 12.59, 3.39], [6139, datetime.date(2022, 10, 6), 'P10', 84200, 9.35, 0.15], [6311, datetime.date(2022, 10, 6), 'P10', 142300, 9.22, 0.02], [6399, datetime.date(2022, 10, 6), 'P10', 80600, 10.01, 0.41], [6441, datetime.date(2022, 10, 6), 'P10', 81200, 9.36, 0.16], [6485, datetime.date(2022, 10, 6), 'P10', 84300, 9.48, 0.28], [6526, datetime.date(2022, 10, 6), 'P10', 81000, 9.28, 0.07], [6552, datetime.date(2022, 10, 6), 'P10', 84500, 9.25, 0.05], [6653, datetime.date(2022, 10, 6), 'P10', 91800, 9.23, 0.03], [6699, datetime.date(2022, 10, 6), 'P10', 81800, 10.06, 0.46], [7249, datetime.date(2022, 10, 6), 'P10', 80400, 9.22, 0.02], [7509, datetime.date(2022, 10, 6), 'P10', 84300, 9.46, 0.26], [7627, datetime.date(2022, 10, 6), 'P10', 75400, 9.28, 0.07], [7643, datetime.date(2022, 10, 6), 'P10', 90000, 9.31, 0.11], [7749, datetime.date(2022, 10, 6), 'P10', 82700, 10.03, 0.42], [8108, datetime.date(2022, 10, 6), 'P10', 81300, 10.06, 0.46], [8111, datetime.date(2022, 10, 6), 'P10', 81200, 9.22, 0.02], [8201, datetime.date(2022, 10, 6), 'P10', 82000, 9.29, 0.08], [8231, datetime.date(2022, 10, 6), 'P10', 80500, 9.3, 0.1], [8262, datetime.date(2022, 10, 6), 'P10', 73400, 9.48, 0.28], [8494, datetime.date(2022, 10, 6), 'P10', 83000, 9.43, 0.23], [8870, datetime.date(2022, 10, 6), 'P10', 82800, 11.21, 2.01], [8945, datetime.date(2022, 10, 6), 'P10', 91900, 9.29, 0.08], [10094, datetime.date(2022, 10, 6), 'P10', 80400, 9.28, 0.07], [10144, datetime.date(2022, 10, 6), 'P10', 82900, 9.46, 0.26], [10163, datetime.date(2022, 10, 6), 'P10', 84200, 9.21, 0.01], [10417, datetime.date(2022, 10, 6), 'P10', 82700, 11.23, 2.03], [11021, datetime.date(2022, 10, 6), 'P10', 81800, 9.23, 0.03], [11439, datetime.date(2022, 10, 6), 'P10', 84800, 9.43, 0.23], [11459, datetime.date(2022, 10, 6), 'P10', 82500, 10.36, 1.16], [11498, datetime.date(2022, 10, 6), 'P10', 143600, 13.04, 3.43], [11660, datetime.date(2022, 10, 6), 'P10', 81900, 10.07, 0.47], [11701, datetime.date(2022, 10, 6), 'P10', 81700, 9.22, 0.02], [11714, datetime.date(2022, 10, 6), 'P10', 80400, 9.53, 0.32], [11724, datetime.date(2022, 10, 6), 'P10', 80300, 10.15, 0.55], [11742, datetime.date(2022, 10, 6), 'P10', 82200, 9.36, 0.16], [11788, datetime.date(2022, 10, 6), 'P10', 75400, 9.29, 0.08], [11828, datetime.date(2022, 10, 6), 'P10', 80800, 9.28, 0.07], [11841, datetime.date(2022, 10, 6), 'P10', 75700, 9.22, 0.02], [11000315, datetime.date(2022, 10, 6), 'P10', 75200, 9.29, 0.08], [11000322, datetime.date(2022, 10, 6), 'P10', 80900, 9.44, 0.24], [11000516, datetime.date(2022, 10, 6), 'P10', 81900, 9.28, 0.07], [30009218, datetime.date(2022, 10, 6), 'P10', 144100, 12.59, 3.39], [30009285, datetime.date(2022, 10, 6), 'P10', 144300, 12.57, 3.37], [729, datetime.date(2022, 10, 7), 'P10', 143800, 13.07, 3.47], [825, datetime.date(2022, 10, 7), 'P10', 143900, 13.02, 3.42], [827, datetime.date(2022, 10, 7), 'P10', 143700, 13.04, 3.43], [914, datetime.date(2022, 10, 7), 'P10', 144600, 12.55, 3.35], [1117, datetime.date(2022, 10, 7), 'P10', 145700, 12.44, 3.24], [1122, datetime.date(2022, 10, 7), 'P10', 144400, 12.57, 3.37], [1259, datetime.date(2022, 10, 7), 'P10', 231100, 7.14, 0.03], [1275, datetime.date(2022, 10, 7), 'P10', 144900, 12.52, 3.32], [1280, datetime.date(2022, 10, 7), 'P10', 143800, 13.03, 3.42], [1387, datetime.date(2022, 10, 7), 'P10', 144100, 13.03, 3.42], [1977, datetime.date(2022, 10, 7), 'P10', 82900, 9.27, 0.07], [1994, datetime.date(2022, 10, 7), 'P10', 83200, 9.44, 0.24], [2314, datetime.date(2022, 10, 7), 'P10', 144100, 13.03, 3.42], [2325, datetime.date(2022, 10, 7), 'P10', 144100, 13.0, 3.4], [2433, datetime.date(2022, 10, 7), 'P10', 144900, 12.52, 3.32], [2463, datetime.date(2022, 10, 7), 'P10', 231100, 7.13, 0.03], [2538, datetime.date(2022, 10, 7), 'P10', 143800, 13.08, 3.48], [2603, datetime.date(2022, 10, 7), 'P10', 145000, 12.56, 3.36], [2622, datetime.date(2022, 10, 7), 'P10', 74700, 9.41, 0.21], [2645, datetime.date(2022, 10, 7), 'P10', 231000, 7.12, 0.02], [2672, datetime.date(2022, 10, 7), 'P10', 143800, 13.03, 3.42], [2679, datetime.date(2022, 10, 7), 'P10', 82200, 9.33, 0.13], [2985, datetime.date(2022, 10, 7), 'P10', 81800, 9.22, 0.02], [3015, datetime.date(2022, 10, 7), 'P10', 75800, 10.01, 0.41], [3133, datetime.date(2022, 10, 7), 'P10', 231100, 7.12, 0.02], [3162, datetime.date(2022, 10, 7), 'P10', 75800, 13.2, 3.59], [3189, datetime.date(2022, 10, 7), 'P10', 82900, 9.36, 0.16], [3343, datetime.date(2022, 10, 7), 'P10', 80400, 10.41, 1.21], [3367, datetime.date(2022, 10, 7), 'P10', 83500, 9.36, 0.16], [3543, datetime.date(2022, 10, 7), 'P10', 82900, 9.37, 0.16], [3829, datetime.date(2022, 10, 7), 'P10', 80600, 9.22, 0.02], [3925, datetime.date(2022, 10, 7), 'P10', 81700, 9.39, 0.19], [3955, datetime.date(2022, 10, 7), 'P10', 75500, 10.04, 0.43], [4015, datetime.date(2022, 10, 7), 'P10', 80600, 9.35, 0.15], [4026, datetime.date(2022, 10, 7), 'P10', 81900, 9.41, 0.21], [4036, datetime.date(2022, 10, 7), 'P10', 81100, 9.21, 0.01], [4090, datetime.date(2022, 10, 7), 'P10', 75700, 10.02, 0.42], [4140, datetime.date(2022, 10, 7), 'P10', 82300, 9.26, 0.06], [4306, datetime.date(2022, 10, 7), 'P10', 80000, 9.43, 0.23], [4307, datetime.date(2022, 10, 7), 'P10', 80000, 9.43, 0.23], [4407, datetime.date(2022, 10, 7), 'P10', 80100, 9.28, 0.07], [4471, datetime.date(2022, 10, 7), 'P10', 84500, 9.26, 0.06], [4635, datetime.date(2022, 10, 7), 'P10', 82200, 9.48, 0.28], [4665, datetime.date(2022, 10, 7), 'P10', 84200, 10.38, 1.18], [4674, datetime.date(2022, 10, 7), 'P10', 80600, 10.04, 0.43], [4695, datetime.date(2022, 10, 7), 'P10', 83400, 10.59, 1.39], [4710, datetime.date(2022, 10, 7), 'P10', 80100, 9.28, 0.07], [4729, datetime.date(2022, 10, 7), 'P10', 81900, 10.03, 0.42], [4802, datetime.date(2022, 10, 7), 'P10', 82700, 9.37, 0.16], [5283, datetime.date(2022, 10, 7), 'P10', 61100, 11.18, 1.58], [5417, datetime.date(2022, 10, 7), 'P10', 82100, 10.29, 1.08], [5604, datetime.date(2022, 10, 7), 'P10', 

In [19]:
#Removing redundant rows and storing in new data-structure
l4=[]
for i in range(len(l3)):
  if l3[i][5]>0:
    l4.append(l3[i])

In [20]:
for i in range(len(l4)):
  if len(l4[i])==8:
    print(l4[i][0],l4[i][1],l4[i][4],l4[i][5],l4[i][6],l4[i][7])

In [21]:
# Converting 2d list to dataframe to apply CRUD opertations
df = pd.DataFrame(l4, columns=['E.Code','Date','IN/OUT','Time','Total Time','OT'])

In [22]:
df_copy=df.copy(deep=True)

In [23]:
df

       E.Code        Date IN/OUT    Time  Total Time    OT
0         637  2022-10-01    P10  144000       13.00  3.40
1         646  2022-10-01    P10  144200       12.59  3.39
2         816  2022-10-01    P10  144600       12.54  3.33
3        1363  2022-10-01    P10  143200       13.08  3.48
4        2100  2022-10-01    P10  143800       13.02  3.42
..        ...         ...    ...     ...         ...   ...
776     11828  2022-10-14    P10   75600        9.48  0.28
777     11836  2022-10-14    P10   83400        9.46  0.26
778     11837  2022-10-14    P10   84000       10.48  1.28
779  11000322  2022-10-14    P10   81200       10.11  0.51
780  11000516  2022-10-14    P10   82000        9.44  0.24

[781 rows x 6 columns]

In [24]:
#Droping an unnecesary column
df=df.drop(['IN/OUT','Time','Total Time'], axis=1)

In [25]:
ll1=[]
def binarySearch(arr, l, r, x):

	while l <= r:

		mid = l + (r - l) // 2

		# Check if x is present at mid
		if arr[mid] == x:
			return mid

		# If x is greater, ignore left half
		elif arr[mid] < x:
			l = mid + 1

		# If x is smaller, ignore right half
		else:
			r = mid - 1

	# If we reach here, then the element
	# was not present
	return -1


# Driver Code
arr = [int(i) for i in dataset2['E Code']]

for i in range(len(df)):
  # Function call
  result = binarySearch(arr, 0, len(arr)-1, df.iloc[i]['E.Code'])

  if result != -1:
      ll1.append([dataset2.iloc[result]['Full Name'], dataset2.iloc[result]['Designation'],dataset2.iloc[result]['Operation'],dataset2.iloc[result]['Division'],dataset2.iloc[result]['Department']])
  else:
      ll1.append(['NaN','NaN','NaN','NaN'])

In [26]:
# Converting 2d list to dataframe to apply CRUD opertations
dff = pd.DataFrame(ll1, columns=['Full Name','Designation','Operation','Division','Department'])

In [27]:
dff

,Full Name,Designation,Operation,Division,Department
0,Dharamvir .,Staff,Manesar Plant,Production Body Manesar,Paint
1,C Senthil Kumar,Staff,Manesar Plant,Production Body Manesar,Assembly Frame
2,Shaikh Arshad Mahebubsab,Staff,Manesar Plant,Production Body Manesar,Assembly Frame
3,Ravi Kumar Adile,Staff,Manesar Plant,Production Body Manesar,Assembly Frame
4,Anand Kumar Moria,Staff,Manesar Plant,Production Body Manesar,Assembly Frame
...,...,...,...,...,...
776,Ashwani Kumar,Executive,Logistics Planning & Control,Logistics,HO Corporate Logistics
777,Harmanpreet Singh Bawa,Executive Trainee,Sales & Marketing,Sales Resource Quality & Training,Dealer Development
778,Rishabh Mittal,Executive Trainee,Customer Service,CS Technology & Customer Relations,Skill Enhancement
779,Akshat Malik,Fixed Term Associate,Sales & Marketing,Sales Resource Quality & Training,Dealer Development
780,Suraj Sharma,Fixed Term Associate,Sales & Marketing,Marketing,Corporate and Brand

In [28]:
df_final = pd.concat([df['E.Code'], dff, df[['Date','OT']]], axis=1)

In [29]:
#double shift
l_double_shift=[]
for i in range(len(df_copy)):
  if df_copy.iloc[i]['Time']>53000 and df_copy.iloc[i]['Time']<63000:
    if df_copy.iloc[i]['Total Time']>=17.50:
      l_double_shift.append([df_copy.iloc[i]['E.Code'],df_copy.iloc[i]['Date'],'A-B'])
  elif df_copy.iloc[i]['Time']>143000 and df_copy.iloc[i]['Time']<150000:
    if df_copy.iloc[i]['Total Time']>=15.50:
      l_double_shift.append([df_copy.iloc[i]['E.Code'],df_copy.iloc[i]['Date'],'B-C'])
  elif df_copy.iloc[i]['Time']>230000 and df_copy.iloc[i]['Time']<234000:
    if df_copy.iloc[i]['Total Time']>=15.50:
      l_double_shift.append([df_copy.iloc[i]['E.Code'],df_copy.iloc[i]['Date'],'C-A'])

In [30]:
l_double_shift=pd.DataFrame(l_double_shift,columns=['E.Code','Date','Double-Shift'])

In [31]:
l_double_shift2=[]
for i in range(len(l_double_shift)):
  for j in range(len(df_final)):
    if l_double_shift.iloc[i]['E.Code']==df_final.iloc[j]['E.Code'] and l_double_shift.iloc[i]['Date']==df_final.iloc[j]['Date']:
      l_double_shift2.append([df_final.iloc[j]['E.Code'],df_final.iloc[j]['Full Name'], df_final.iloc[j]['Designation'],df_final.iloc[j]['Operation'],df_final.iloc[j]['Division'],df_final.iloc[j]['Department'],df_final.iloc[j]['Date'],l_double_shift.iloc[i]['Double-Shift']])

In [32]:
l_double_shift2=pd.DataFrame(l_double_shift2,columns=['E.Code','Full Name','Designation','Operation','Division','Department','Date','Double-Shift'])

In [33]:
""" Printing dataframe (E.Code, Designation, Opr., Division, Dept., Date, OT (after decimal place refers to mins, before refers to hrs; 
e.g 0.27--> 27 minutes, 
    1.08--> 1hr & 8 minutes)) 
"""
df_final

,E.Code,Full Name,Designation,Operation,Division,Department,Date,OT
0,637,Dharamvir .,Staff,Manesar Plant,Production Body Manesar,Paint,2022-10-01,3.40
1,646,C Senthil Kumar,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.39
2,816,Shaikh Arshad Mahebubsab,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.33
3,1363,Ravi Kumar Adile,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.48
4,2100,Anand Kumar Moria,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.42
...,...,...,...,...,...,...,...,...
776,11828,Ashwani Kumar,Executive,Logistics Planning & Control,Logistics,HO Corporate Logistics,2022-10-14,0.28
777,11836,Harmanpreet Singh Bawa,Executive Trainee,Sales & Marketing,Sales Resource Quality & Training,Dealer Development,2022-10-14,0.26
778,11837,Rishabh Mittal,Executive Trainee,Customer Service,CS Technology & Customer Relations,Skill Enhancement,2022-10-14,1.28
779,11000322,Akshat Malik,Fixed Term Associate,Sales & Marketing,Sales Resource Quality & Training,Dealer Development,2022-10-14,0.51
780,11000516,Suraj Sharma,Fixed Term Associate,Sales & Marketing,Marketing,Corporate and Brand,2022-10-14,0.24

In [34]:
df_final_hr_min=df_final.copy(deep=True)
l_time1=[]
for i in df_final_hr_min.index:
      minutes, hours = math.modf(df_final_hr_min['OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time1.append(ot_time)
df_final_hr_min.drop(['OT'],axis=1)
df_final_hr_min['OT']=l_time1

In [35]:
df_final_hr_min

,E.Code,Full Name,Designation,Operation,Division,Department,Date,OT
0,637,Dharamvir .,Staff,Manesar Plant,Production Body Manesar,Paint,2022-10-01,3 Hr 40 Min
1,646,C Senthil Kumar,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3 Hr 39 Min
2,816,Shaikh Arshad Mahebubsab,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3 Hr 33 Min
3,1363,Ravi Kumar Adile,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3 Hr 48 Min
4,2100,Anand Kumar Moria,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3 Hr 42 Min
...,...,...,...,...,...,...,...,...
776,11828,Ashwani Kumar,Executive,Logistics Planning & Control,Logistics,HO Corporate Logistics,2022-10-14,0 Hr 28 Min
777,11836,Harmanpreet Singh Bawa,Executive Trainee,Sales & Marketing,Sales Resource Quality & Training,Dealer Development,2022-10-14,0 Hr 26 Min
778,11837,Rishabh Mittal,Executive Trainee,Customer Service,CS Technology & Customer Relations,Skill Enhancement,2022-10-14,1 Hr 28 Min
779,11000322,Akshat Malik,Fixed Term Associate,Sales & Marketing,Sales Resource Quality & Training,Dealer Development,2022-10-14,0 Hr 51 Min
780,11000516,Suraj Sharma,Fixed Term Associate,Sales & Marketing,Marketing,Corporate and Brand,2022-10-14,0 Hr 24 Min

In [36]:
# lx=[]
# for i in df_final['Operation']:
#   if i not in lx:
#     lx.append(i)


# for i in lx:
#   c,d=1,0
#   lxc=[]
#   for j in df_final['Operation']:
#     if i == j:
#       c+=1
#   lxc.append([i,c])
#   lx.append(lxc)

In [37]:
# df_final.iloc[10035]

In [38]:
""" Applying Groupby opr. to group dataframe on basis of E.Code and apply sum and count opr. to 
compute Total_OT & Total_OT_Days """

groupby_ecode_Total_OT = df.groupby(['E.Code'],as_index=False).sum()
groupby_ecode_Total_OT_Days = df.groupby(['E.Code'],as_index=False).count()
groupby_operation_sum = df_final.groupby(['Operation'],as_index=False).sum()
groupby_operation = df_final.groupby(['Operation'],as_index=False).count()
groupby_division_sum = df_final.groupby(['Division'],as_index=False).sum()
groupby_division = df_final.groupby(['Division'],as_index=False).count()
groupby_designation_sum = df_final.groupby(['Designation'],as_index=False).sum()
groupby_designation = df_final.groupby(['Designation'],as_index=False).count()

In [39]:
groupby_division_sum

                              Division     E.Code      OT
0                             Accounts      77556    3.24
1            Administration & Security     107185   28.62
2                 After Sales Business     343073   13.86
3                     CS Field Service     207507   12.29
4                         CS Technical   11205173   36.32
5   CS Technology & Customer Relations     107994    3.45
6                       CSR Foundation      45489    1.02
7                           Commercial      97501    8.01
8             Corporate Communications       5931    0.55
9                     Customer Service     139665    3.74
10           Enterprise IT Application     243145   12.79
11        Enterprise IT Infrastructure     214205    5.99
12                    External Affairs      46383    0.65
13                             Finance     123992    3.72
14             General Affairs Manesar   11000509    1.05
15                   Health & Wellness      60291    4.03
16                      Human Resource      71509    1.19
17                       IT Compliance      80591    5.40
18                Industrial Relations   11071488    7.92
19                      Internal Audit      30188    0.38
20                 Legal & Secretarial       4090    0.42
21                           Logistics     165197    5.04
22                           Marketing   88240162   30.75
23                        Motor Sports      17933    0.69
24           Plant Engineering Manesar      56633   10.45
25                    Product Planning      66596    6.21
26             Production Body Manesar  330544234  421.82
27      Production Power Train Manesar      86953   12.66
28                    Purchase Manesar      21308    7.06
29             Quality Control Manesar  131124757   84.31
30           Regional Business Central      15355    4.61
31        Regional Business Central CS       3578    0.07
32              Regional Business East      34685    3.13
33           Regional Business East CS      23730    4.80
34          Regional Business South CS       1328    0.72
35              Regional Business West      37769    5.44
36           Regional Business West CS       6960    2.54
37  Safety Riding Promotion & Training       4178    0.33
38                               Sales     322962    8.88
39           Sales & Business Planning     186319    6.54
40   Sales Resource Quality & Training   77266662   26.70
41                            Taxation      72586    3.88

In [40]:
df_final

,E.Code,Full Name,Designation,Operation,Division,Department,Date,OT
0,637,Dharamvir .,Staff,Manesar Plant,Production Body Manesar,Paint,2022-10-01,3.40
1,646,C Senthil Kumar,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.39
2,816,Shaikh Arshad Mahebubsab,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.33
3,1363,Ravi Kumar Adile,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.48
4,2100,Anand Kumar Moria,Staff,Manesar Plant,Production Body Manesar,Assembly Frame,2022-10-01,3.42
...,...,...,...,...,...,...,...,...
776,11828,Ashwani Kumar,Executive,Logistics Planning & Control,Logistics,HO Corporate Logistics,2022-10-14,0.28
777,11836,Harmanpreet Singh Bawa,Executive Trainee,Sales & Marketing,Sales Resource Quality & Training,Dealer Development,2022-10-14,0.26
778,11837,Rishabh Mittal,Executive Trainee,Customer Service,CS Technology & Customer Relations,Skill Enhancement,2022-10-14,1.28
779,11000322,Akshat Malik,Fixed Term Associate,Sales & Marketing,Sales Resource Quality & Training,Dealer Development,2022-10-14,0.51
780,11000516,Suraj Sharma,Fixed Term Associate,Sales & Marketing,Marketing,Corporate and Brand,2022-10-14,0.24

In [41]:
groupby_operation_sum

                        Operation     E.Code      OT
0           Brand & Communication      28042    1.57
1                Customer Service   11899343   74.05
2              Finance & Accounts     274134   10.84
3   General and Corporate Affairs   11360946   42.83
4          Honda India Foundation      45489    1.02
5                  Internal Audit      30188    0.38
6    Logistics Planning & Control     262698   13.05
7                   Manesar Plant  472834394  537.35
8     Premium Motorcycle Business     462627   12.62
9               Sales & Marketing  165847548   83.38
10   Strategic Information System     537941   24.18

In [42]:
Operation_count = pd.DataFrame(df_final.groupby(['Operation'],as_index=False).size())
Division_count = pd.DataFrame(df_final.groupby(['Division'],as_index=False).size())
Designation_count = pd.DataFrame(df_final.groupby(['Designation'],as_index=False).size())

In [43]:
#Converting Groupby object into DataFrame to apply CRUD opr.
df2=pd.DataFrame(groupby_ecode_Total_OT)
df3=pd.DataFrame(groupby_ecode_Total_OT_Days)
df4=pd.DataFrame(groupby_operation)
df5=pd.DataFrame(groupby_division)
df6=pd.DataFrame(groupby_operation_sum)
df7=pd.DataFrame(groupby_division_sum)
df8=pd.DataFrame(groupby_designation)
df9=pd.DataFrame(groupby_designation_sum)

In [44]:
df6

                        Operation     E.Code      OT
0           Brand & Communication      28042    1.57
1                Customer Service   11899343   74.05
2              Finance & Accounts     274134   10.84
3   General and Corporate Affairs   11360946   42.83
4          Honda India Foundation      45489    1.02
5                  Internal Audit      30188    0.38
6    Logistics Planning & Control     262698   13.05
7                   Manesar Plant  472834394  537.35
8     Premium Motorcycle Business     462627   12.62
9               Sales & Marketing  165847548   83.38
10   Strategic Information System     537941   24.18

In [45]:
df4=df4.drop(['E.Code','Full Name','Designation','Division','Department','Date'], axis=1)
df5=df5.drop(['E.Code','Full Name','Designation','Operation','Department','Date'], axis=1)
df8=df8.drop(['E.Code','Full Name','Operation','Division','Department','Date'], axis=1)
df6=df6.drop(['E.Code'], axis=1) 
df7=df7.drop(['E.Code'], axis=1)
df9=df9.drop(['E.Code'], axis=1)

In [46]:
df4.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
df5.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
df8.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
# df6.rename(columns={'OT': 'Total OT_Days'}, inplace=True)
# df7.rename(columns={'OT': 'Total OT_Days'}, inplace=True)

In [47]:
l4=[]
for i in df2.index:
      frac, whole = math.modf(df2['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      l4.append(ot_time)

In [48]:
llp=[]
for i in df6.index:
      frac, whole = math.modf(df6['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      llp.append(ot_time)

In [49]:
lllp=[]
for i in df7.index:
      frac, whole = math.modf(df7['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      lllp.append(ot_time)

In [50]:
llllp=[]
for i in df9.index:
      frac, whole = math.modf(df9['OT'][i])
      mins=int(whole*60+frac*100)
      hours=mins//60
      minutes=mins%60
      if minutes<10:
          ot_time = float("{}.0{}".format(hours, minutes))
      elif minutes%10==0:
        ot_time = float("{}.{}0".format(hours, minutes))
      else:
        ot_time = float("{}.{}".format(hours, minutes))
      llllp.append(ot_time)

In [51]:
df2['Total OT']=l4
df6['Total OT']=llp
df7['Total OT']=lllp
df9['Total OT']=llllp

In [52]:
#Droping an unnecesary column
df3=df3.drop(['Date'], axis=1)

In [53]:
df2=df2.drop(['OT'], axis=1)
df6=df6.drop(['OT'], axis=1)
df7=df7.drop(['OT'], axis=1)
df9=df9.drop(['OT'], axis=1)

In [54]:
#Renaming Columns
#df2.rename(columns={'OT': 'Total OT'}, inplace=True)
df3.rename(columns={'OT': 'Total OT_Days'}, inplace=True)

In [55]:
lp=[]
for i in range(len(df6)):
  lp.append(df6.iloc[i]['Total OT']/df4.iloc[i]['Total OT_Days'])
lp2=[]
for i in range(len(df7)):
  lp2.append(df7.iloc[i]['Total OT']/df5.iloc[i]['Total OT_Days'])
lp3=[]
for i in range(len(df9)):
  lp3.append(df9.iloc[i]['Total OT']/df8.iloc[i]['Total OT_Days'])

In [56]:
# lp=pd.DataFrame(lp,columns=['Average OT'])
# lp2=pd.DataFrame(lp2,columns=['Average OT'])
# lp3=pd.DataFrame(lp3,columns=['Average OT'])

In [57]:
#Creating a final dataframe (E.Code, Total OT_Days, Total OT)
# result = pd.concat([df3,df2], axis=1)
result_2 =  pd.concat([df4[['Operation','Total OT_Days']],df6['Total OT'],Operation_count['size']], axis=1)
result_3 =  pd.concat([df5,df7['Total OT'],Division_count['size']], axis=1)
result_4 =  pd.concat([df8,df9['Total OT'],Designation_count['size']], axis=1)

In [58]:
result_2.rename(columns={'size': 'Count'}, inplace=True)
result_3.rename(columns={'size': 'Count'}, inplace=True)
result_4.rename(columns={'size': 'Count'}, inplace=True)

In [59]:
ll2=[]
def binarySearch(arr, l, r, x):

	while l <= r:

		mid = l + (r - l) // 2

		# Check if x is present at mid
		if arr[mid] == x:
			return mid

		# If x is greater, ignore left half
		elif arr[mid] < x:
			l = mid + 1

		# If x is smaller, ignore right half
		else:
			r = mid - 1

	# If we reach here, then the element
	# was not present
	return -1


# Driver Code
arr = [int(i) for i in dataset2['E Code']]

for i in range(len(df3)):
  # Function call
  res = binarySearch(arr, 0, len(arr)-1, df3.iloc[i]['E.Code'])

  if res != -1:
      ll2.append([dataset2.iloc[res]['Full Name'], dataset2.iloc[res]['Designation'],dataset2.iloc[res]['Operation'],dataset2.iloc[res]['Division'],dataset2.iloc[res]['Department']])
  else:
      ll2.append(['NaN','NaN','NaN','NaN'])

In [60]:
# Converting 2d list to dataframe to apply CRUD opertations
dfff = pd.DataFrame(ll2, columns=['Full Name','Designation','Operation','Division','Department'])

In [61]:
result = pd.concat([df3['E.Code'], dfff, df3['Total OT_Days'], df2['Total OT']], axis=1)

In [62]:
""" Printing dataframe (E.Code, Total OT (after decimal place refers to mins, before refers to hrs; 
e.g 0.27--> 27 minutes, 
    1.08--> 1hr & 8 minutes), 
    Total OT_Days) 
"""
result

,E.Code,Full Name,Designation,Operation,Division,Department,Total OT_Days,Total OT
0,32,Sanjeev Juyal,Chief Manager,General and Corporate Affairs,Industrial Relations,Employee Benefit,2,0.33
1,48,Sanjul Saxena,General Manager,Customer Service,CS Technical,NaN,1,0.13
2,224,Ravinder Kumar Sejwal,General Manager,Finance & Accounts,Accounts,NaN,1,1.11
3,314,Rajnish Charandas Mittal,General Manager,Customer Service,CS Field Service,NaN,2,1.03
4,332,M S Srivathsa,General Manager,Customer Service,Regional Business South CS,NaN,4,1.12
...,...,...,...,...,...,...,...,...
350,30009223,Raghubir .,Apprentice,Manesar Plant,Production Body Manesar,Paint,4,12.57
351,30009285,Pawan Kumar,Apprentice,Manesar Plant,Quality Control Manesar,Vehicle Quality,3,10.12
352,30009484,Sahil .,Apprentice,Manesar Plant,Production Body Manesar,Paint,1,3.45
353,30009499,Ashish .,Apprentice,Manesar Plant,Production Body Manesar,Press & Weld,2,7.08
354,30009510,Satender .,Apprentice,Manesar Plant,Quality Control Manesar,Vehicle Quality,1,3.37

In [63]:
result_hr_min=result.copy(deep=True)
l_time2=[]
for i in result_hr_min.index:
      minutes, hours = math.modf(result_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time2.append(ot_time)
result_hr_min.drop(['Total OT'],axis=1)
result_hr_min['Total OT']=l_time2

In [64]:
result_hr_min

,E.Code,Full Name,Designation,Operation,Division,Department,Total OT_Days,Total OT
0,32,Sanjeev Juyal,Chief Manager,General and Corporate Affairs,Industrial Relations,Employee Benefit,2,0 Hr 33 Min
1,48,Sanjul Saxena,General Manager,Customer Service,CS Technical,NaN,1,0 Hr 13 Min
2,224,Ravinder Kumar Sejwal,General Manager,Finance & Accounts,Accounts,NaN,1,1 Hr 11 Min
3,314,Rajnish Charandas Mittal,General Manager,Customer Service,CS Field Service,NaN,2,1 Hr 3 Min
4,332,M S Srivathsa,General Manager,Customer Service,Regional Business South CS,NaN,4,1 Hr 12 Min
...,...,...,...,...,...,...,...,...
350,30009223,Raghubir .,Apprentice,Manesar Plant,Production Body Manesar,Paint,4,12 Hr 57 Min
351,30009285,Pawan Kumar,Apprentice,Manesar Plant,Quality Control Manesar,Vehicle Quality,3,10 Hr 12 Min
352,30009484,Sahil .,Apprentice,Manesar Plant,Production Body Manesar,Paint,1,3 Hr 45 Min
353,30009499,Ashish .,Apprentice,Manesar Plant,Production Body Manesar,Press & Weld,2,7 Hr 8 Min
354,30009510,Satender .,Apprentice,Manesar Plant,Quality Control Manesar,Vehicle Quality,1,3 Hr 37 Min

In [65]:
l_diff=[]
if date_diff==88 or 89 or 90 or 91 or 92:
  for i in range(len(result)):
    if result.iloc[i]['Total OT']>50:
      l_diff.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department'],result.iloc[i]['Total OT_Days'],result.iloc[i]['Total OT']])
elif date_diff==28 or 29 or 30 or 31:
  for i in range(len(result)):
    if result.iloc[i]['Total OT']>16:
      l_diff.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department'],result.iloc[i]['Total OT_Days'],result.iloc[i]['Total OT']])
else:
  for i in range(len(result)):
    if result.iloc[i]['Total OT']>((16/30)*date_diff):
      l_diff.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department'],result.iloc[i]['Total OT_Days'],result.iloc[i]['Total OT']])

In [66]:
l_diff = pd.DataFrame(l_diff, columns=['E.Code','Full Name','Designation','Operation','Division','Department','Total OT_Days','Total OT'])

In [67]:
l_diff

Empty DataFrame
Columns: [E.Code, Full Name, Designation, Operation, Division, Department, Total OT_Days, Total OT]
Index: []

In [68]:
l_diff_hr_min=l_diff.copy(deep=True)
l_time3=[]
for i in l_diff_hr_min.index:
      minutes, hours = math.modf(l_diff_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time3.append(ot_time)
l_diff_hr_min.drop(['Total OT'],axis=1)
l_diff_hr_min['Total OT']=l_time3

In [69]:
# consecutive_days=[]
# employees_covered=[]
# for i in range(len(df_final)):
#   count=1
#   if df_final.iloc[i]['E.Code'] not in employees_covered:
#     employees_covered.append([i,df_final.iloc[i]['E.Code']])
#     for j in range(i+1,len(df_final)):
#       if df_final.iloc[i]['Date'] ==df_final.iloc[j]['Date']:
#         count+=1
#     if count>1:
#       consecutive_days.append([df_final.iloc[i]['E.Code'],df_final.iloc[i]['Full Name'],df_final.iloc[i]['Designation'],df_final.iloc[i]['Operation'],df_final.iloc[i]['Division'],df_final.iloc[i]['Department']])

In [70]:
# consecutive_days = pd.DataFrame(consecutive_days, columns=['E.Code','Full Name','Designation','Operation','Division','Department'])

In [71]:
# Sorting dataframe in descending order on basis of Total OT_Days (User can get top x employees on basis of Total OT_Days)
cont2=result.sort_values(by=['Total OT_Days'], ascending=False)

In [72]:
cont2_hr_min=cont2.copy(deep=True)
l_time4=[]
for i in cont2_hr_min.index:
      minutes, hours = math.modf(cont2_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time4.append(ot_time)
cont2_hr_min.drop(['Total OT'],axis=1)
cont2_hr_min['Total OT']=l_time4

In [73]:
cont2_consecutive=[]
i=0
while cont2.iloc[i]['Total OT_Days']>=10:
  cont2_consecutive.append(cont2.iloc[i]['E.Code'])
  i+=1

In [74]:
cont2_consecutive
l_con=[]
for x in cont2_consecutive:
  for j in range(len(df_final)):
    if x == df_final.iloc[j]['E.Code']:
      l_con.append([x, df_final.iloc[j]['Date']])

In [75]:
l_10con=[]
for j in cont2_consecutive:
  p,c=0,1
  for i in range(len(l_con)):
    p=i+1
    if p <= len(l_con)-1:
      if j==l_con[i][0] and j==l_con[p][0]:
          if l_con[i][1].day-l_con[p][1].day==-1:
            c+=1
          elif l_con[i][1].weekday()==4:
            if l_con[i][1].day-l_con[p][1].day==-3:
              c+=1
  if c>=10:
    l_10con.append(j)

In [76]:
l_10_final=[]
# result_10day=result
# result_10day=result_10day.drop(['Total OT_Days','Total OT'],axis=1)
j=0
while j<len(l_10con):
  for i in range(len(result)):
    if result.iloc[i]['E.Code']== l_10con[j]:
      l_10_final.append([result.iloc[i]['E.Code'],result.iloc[i]['Full Name'],result.iloc[i]['Designation'],result.iloc[i]['Operation'],result.iloc[i]['Division'],result.iloc[i]['Department']])
      break;
  j+=1

dfff_10 = pd.DataFrame(l_10_final, columns=['E.Code','Full Name','Designation','Operation','Division','Department'])

In [77]:
dfff_10

Empty DataFrame
Columns: [E.Code, Full Name, Designation, Operation, Division, Department]
Index: []

In [78]:
# Sorting dataframe in descending order on basis of Total OT (User can get top x employees on basis of Total OT)
cont3=result.sort_values(by=['Total OT'], ascending=False)

In [79]:
cont3_hr_min=cont3.copy(deep=True)
l_time5=[]
for i in cont3_hr_min.index:
      minutes, hours = math.modf(cont3_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time5.append(ot_time)
cont3_hr_min.drop(['Total OT'],axis=1)
cont3_hr_min['Total OT']=l_time5

In [80]:
cont4=result_2.sort_values(by=['Total OT_Days'], ascending=False)

In [81]:
cont4_hr_min=cont4.copy(deep=True)
l_time6=[]
for i in cont4_hr_min.index:
      minutes, hours = math.modf(cont4_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time6.append(ot_time)
cont4_hr_min.drop(['Total OT'],axis=1)
cont4_hr_min['Total OT']=l_time6

In [82]:
cont5=result_2.sort_values(by=['Total OT'], ascending=False)

In [83]:
cont5_hr_min=cont5.copy(deep=True)
l_time7=[]
for i in cont5_hr_min.index:
      minutes, hours = math.modf(cont5_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time7.append(ot_time)
cont5_hr_min.drop(['Total OT'],axis=1)
cont5_hr_min['Total OT']=l_time7

In [84]:
cont6=result_3.sort_values(by=['Total OT_Days'], ascending=False)

In [85]:
cont6_hr_min=cont6.copy(deep=True)
l_time8=[]
for i in cont6_hr_min.index:
      minutes, hours = math.modf(cont6_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time8.append(ot_time)
cont6_hr_min.drop(['Total OT'],axis=1)
cont6_hr_min['Total OT']=l_time8

In [86]:
cont7=result_3.sort_values(by=['Total OT'], ascending=False)

In [87]:
cont7_hr_min=cont7.copy(deep=True)
l_time9=[]
for i in cont7_hr_min.index:
      minutes, hours = math.modf(cont7_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time9.append(ot_time)
cont7_hr_min.drop(['Total OT'],axis=1)
cont7_hr_min['Total OT']=l_time9

In [88]:
cont8=result_4.sort_values(by=['Total OT_Days'], ascending=False)

In [89]:
cont8_hr_min=cont8.copy(deep=True)
l_time10=[]
for i in cont8_hr_min.index:
      minutes, hours = math.modf(cont8_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time10.append(ot_time)
cont8_hr_min.drop(['Total OT'],axis=1)
cont8_hr_min['Total OT']=l_time10

In [90]:
cont9=result_4.sort_values(by=['Total OT'], ascending=False)

In [91]:
cont9_hr_min=cont9.copy(deep=True)
l_time11=[]
for i in cont9_hr_min.index:
      minutes, hours = math.modf(cont9_hr_min['Total OT'][i])
      minutes*=100
      ot_time = "{:.0f} Hr {:.0f} Min".format(hours, minutes)
      l_time11.append(ot_time)
cont9_hr_min.drop(['Total OT'],axis=1)
cont9_hr_min['Total OT']=l_time11

In [92]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [93]:
from openpyxl import Workbook
import xlsxwriter
import os

workbook = xlsxwriter.Workbook(r'OT_Analysis.xlsx')
with pd.ExcelWriter(r'OT_Analysis.xlsx') as writer:
#writer = r"C:\Users\Kartikey\Desktop\shorttt.xlsx"
# write dataframe to excel
    df_final_hr_min.to_excel(writer,sheet_name='OT')
    result_hr_min.to_excel(writer,sheet_name='Total_OT')
    cont2_hr_min.to_excel(writer,sheet_name='Highest_Total_OT_Days')
    cont3_hr_min.to_excel(writer,sheet_name='Highest_Total_OT')
    l_diff_hr_min.to_excel(writer,sheet_name='Exceeding OT Limit')
    dfff_10.to_excel(writer,sheet_name='Exceeding 10 cons. OT days')
    l_double_shift2.to_excel(writer,sheet_name='Double shift')
    cont4_hr_min.to_excel(writer,sheet_name='Operation_Highest_Total_OT_Days')
    cont5_hr_min.to_excel(writer,sheet_name='Operation_Highest_Total_OT')
    cont6_hr_min.to_excel(writer,sheet_name='Division_Highest_Total_OT_Days')
    cont7_hr_min.to_excel(writer,sheet_name='Division_Highest_Total_OT')
    cont8_hr_min.to_excel(writer,sheet_name='Desig_Highest_Total_OT_Days')
    cont9_hr_min.to_excel(writer,sheet_name='Desig_Highest_Total_OT')